# Build directories and temporary files
/build/
*.o
*.a

# IDE files (common examples)
.vscode/
.idea/

# Python files
__pycache__/
*.pyc
*.egg-info/

# Conda environment files (do not commit your local environment)
.conda/
.DS_Store

# Large data files (We will keep the 'data' folder but ignore its contents later)
/data/*
!/data/.gitkeep

# CUDA/PCL related logs or output
*.log